.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header-darkmode {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-lightmode {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
}
.links {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  height: 10vh; 
  z-index:5;

}
.title{
font-size:35px;
position:absolute;
top:20px;
}
.processor{
   border: 1px solid white;
   width:75vw;
   height:75vh;
   overflow-y: auto; 
   background-color: white;
   color:black;
}
.activity{
flex-direction:row;
justify-content:center;
align-items:center;
width:75vw;
display:flex;
}
.App-link {
  color: #61dafb;
}
processor-wrapper {
  height: 100%; 
}

.processor-editor {
  height: 100%; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.editor-content .public-DraftStyleDefault {
  text-align: left;
}

.editor-content .left-align {
  text-align: left;
}

.editor-content .center-align {
  text-align: center;
}

.editor-content .right-align {
  text-align: right;
}
.DraftEditor-root .public-DraftStyleDefault-pre.DraftStyleDefault-block,
.DraftEditor-root .public-DraftEditor-content .public-DraftStyleDefault-block {
  position: relative;
}

.DraftEditor-root .public-DraftEditor-content .public-DraftStyleDefault-block .HIGHLIGHT {
  background-color: yellow; 
}

.DraftEditor-root {
  font-family: 'Arial, sans-serif';
}

.DraftEditor-contentBlock {
  font-family: 'Arial, sans-serif';
}

.DraftEditor-contentBlock[font-family="Helvetica, sans-serif"] {
  font-family: 'Helvetica, sans-serif';
}

.DraftEditor-contentBlock[font-family="Times New Roman, serif"] {
  font-family: 'Times New Roman, serif';
}

