.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header-darkmode {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-lightmode {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
}
.links {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  height: 10vh; 
  z-index:5;

}
.title{
font-size:35px;
position:absolute;
top:20px;
}
.processor{
   border: 1px solid white;
   width:70vw;
   height:75vh;
   overflow-y: auto; 
   background-color: white;
   color:black;
   padding-left:3vw;
   padding-right:3vw;
}
.activity{
flex-direction:row;
justify-content:center;
align-items:center;
width:75vw;
display:flex;
overflow-x: auto;
}
.App-link {
  color: #61dafb;
}
processor-wrapper {
  height: 100%; 
}

.processor-editor {
  height: 100%; 
}
.comment{
max-width:40vw;
padding:5px;
}
.comment input{
max-width:40vw;
padding:5px;
}
.comments{
flex-direction:column;
}